
/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

*{
	text-align: center;
}
a {
	text-decoration: underline;
}
a:hover{
	text-decoration: none;
}
.wrapper {
}
.container {
	max-width: 945px;
	margin: 0 auto;
	padding: 0 15px;
}
.content {}
.header {
	position: sticky;
	top: 0;

	background-color: #fff;

	z-index: 5;
}
.header--menu {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #828282;
	padding: 30px;

}
.header--item {
	font-family: Gilroy-Bold;
font-size: 18px;
line-height: 22px;
}
.header--item a{
	color:#828282;
}
.home {
	padding: 30px 0 80px 0 ;
}
.home--info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 30px;
}
.home--info_item {

}
.name {
	font-family: Gilroy-Bold;
	font-size: 47px;
	line-height: 59px;
	flex: 0 1 30px;
}
.special {
	font-family: Gilroy-Medium;
font-size: 18px;
line-height: 22px;
}
.language {
	font-family: Gilroy-Bold;
	font-size: 16px;
	line-height: 20px;
	transform: rotate(-90deg);
}
.home--image {
}
.home--image img{
	width: 100%;
}


.about {
	background-color: #F6F6F6;
	padding: 100px 0;
}
.about--title {}
.title {
	font-family: Gilroy-Bold;
	font-size: 34px;
	line-height: 42px;
}
.about--text p {
	margin: 20px;
}
.text {
	color: #070707;
	font-family: Gilroy-Medium;
	font-size: 18px;
	line-height: 22px;


}
.skills {
	padding: 60px 0 ;
}
.skills--title {}
.skills--subtitle {
	padding: 50px 0 ;
	font-family: Gilroy-Medium;
font-size: 18px;
line-height: 22px;
}
.skills--programs {
	display: flex;



}
.skills--programs_item{
	width: 25%;
}

.skills--programs_item img{
	width: 40%;
}
.skills--programs_item .program_figma{
	width: 25%;

}

.ps {}
.skills--programs_item--text {
	margin: 30px 0;
}
.ai {}
.ae {}
.figma {}

.portfolio {
	background-color: #f6f6f6;
	padding: 80px 0;
}
.portfolio--item a{
	color: #070707;
	font-family: Gilroy-Medium;
	font-size: 18px;
	line-height: 22px;

}
.portfolio--item img{
	width: 100%;
	margin: 70px 0 40px 0;
}
.contacts {
	padding: 50px 0;
}
.contacts--title {}
.contacts--subtitle {
	font-family: Gilroy-Medium;
	font-size: 18px;
	line-height: 22px;
	margin: 30px 0;
}
.contacts--button a{

	font-family: Gilroy-Bold;
	font-size: 18px;
	line-height: 22px;
	padding: 8px 30px;
	background-color: #070707;
	color: #fff;
	border-radius: 30px;

}
.contacts--messenger {
	display: flex;
	justify-content: center;
	margin: 30px 0;
}
.contacts--messenger_item {
	margin:0 10px;

}
.contacts--text {
	font-family: Gilroy-Medium;
	font-size: 14px;
	line-height: 17px;

}


@media (max-width: 986px){

	.skills--programs{
		flex-direction: column;
		align-items: center;
	}
	.stars {
		padding-bottom: 30px;
	}
	.home--image{
		background: url(images/Denis2.jpg) no-repeat;
	}
}

@media (max-width: 768px){
	.header--menu{
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
	}
	.header--item{
		padding: 35px 0;
		padding-left: 15px;
		font-size: 25px;
	}
	.header--menu{
		position: fixed;
		top: -100%;
		left: 0;
		height: 100%;
		width: 100%;
		
		padding: 70px 0 0 0;
		transition:all 0.5s ease 0s;
		overflow: auto;
		opacity: 1;
		background-color: #fff;
	}
	.header--menu.active{
		top: 0;
	}
	.header{
		position: static;
	}
	.header--burger {
		display: block;
		width: 40px;
		height: 30px;
		position: relative;
		z-index: 4;
		top: 70px;
		right: -90%;
	}
	.header--burger:before,
	.header--burger:after {
		content: '';
		width: 100%;
		height: 5px;
		background-color: #000;
		position: absolute;
		right: 0;
		transition:all 0.5s ease 0s;
	}
	.header--burger:after{
		bottom: 0px;
	}
	.header--burger:before{
		top: 0px;
	}
	.header--burger span{
		width: 40px;
		height: 5px;
		background-color: #000;
		position: absolute;
		right: 0;
		top: 12.5px;
		transition:all 0.5s ease 0s;
	}
	.header--burger.active span{
		transform: scale(0);
	}
	.header--burger.active:before{
		transform: rotate(-405deg);
		top: 12.5px;
	}
	.header--burger.active:after{
		transform: rotate(405deg);
		bottom: 12.5px;
	}
	.content {
		padding-top: 30px;
	}
	.home--info{
		flex-direction: column;
		align-items: flex-start;
	}
	.language{
		position: absolute;
		right: 20px;
		top: -100%;
		
		font-size: 25px;
		transition:all 0.5s ease 0s;
	}
	body.lock{
		overflow: hidden;
	}
	.language.active{
		top: 88%;
	}
}